//Base color
$text-nav-color: rgba(255, 255, 255, 0.5);
$text-color: #aaa;
$text-dark: #272b30;
$color-title: #AAAAAA;
$color-hover: #fff;
$color-gray: #7a8288;
$color-blue: #4799eb;
$color-dark: #32383e;